
.todo-list-container {
    display: flex;
    flex-direction: column; 
    width: 100vw; 
    height: 100vh; 
  }

.todo-list {
    display: flex;
    flex-direction: column; 
    padding: 10px;
    margin: 10px;
    width: 97vw;
    height: 95vh;
    overflow: scroll;
    border: 1px solid black;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    border: 1px solid #ccc;
    padding: 8px;
  }


  .empty-message {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .dynamic-width-input {
    flex: 1; 
  }

  .add-button {
    display: flex;
    width: fit-content; 
    padding-left: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  